.container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 8px #0001;
  padding: 1rem;
  max-width: 320px;
  margin: 0 auto;
  border: 2px solid #000000
}

.heading {
  text-align: center;
  margin: 0 0 8px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

.th {
  text-align: left;
  padding: 4px 8px;
}

.thRight {
  text-align: right;
  padding: 4px 8px;
}

.td {
  padding: 4px 8px;
}

.tdRight {
  padding: 4px 8px;
  text-align: right;
}

.rowGreen {
  background: #a1fcb6;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

.rowRed {
  background: #fc9f9f;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

.rowDefault {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}